.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* background-color: #9a8c98; */
}

    
.search-bar {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 20px 0px 20px 0px;
  
  input[type=text] {
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    flex: 1; 
  }

  
  button {
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }

  button:hover {
    background-color: #0056b3; 
  }
}
    


    
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
    
.load-more {
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.toggle-buttons {
    display: flex;
    gap: 10px;
    margin: 40px 0px 20px 0px;
}

@media (max-width: 600px) {
    .toggle-buttons {
      flex-direction: column; 
      gap: 10px; 
    }
} 
